

@font-face {
    font-family: 'RalewayMedium';
    src: url('fonts/Raleway-Medium.eot');
    src: url('fonts/Raleway-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Medium.woff2') format('woff2'),
        url('fonts/Raleway-Medium.woff') format('woff'),
        url('fonts/Raleway-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RalewayRegular';
    src: url('fonts/Raleway-Regular.eot');
    src: url('fonts/Raleway-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Raleway-Regular.woff2') format('woff2'),
        url('fonts/Raleway-Regular.woff') format('woff'),
        url('fonts/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');


$black: #3e3e3e;
$dark_blue: #353541;
$pink: #fb6470;
$dark_pink: #b95460;
$white: #f9f9f9;
$gray: #bcbcc0;

$main_color: $dark_blue;
$secondary_colorA: $pink;
$secondary_colorB: $black;

@mixin button($margin-top, $padding, $font-size, $border-radius, $padding-active){
			-webkit-tap-highlight-color: rgba(0,0,0,0);
			text-decoration: none;
			font-size: $font-size;
			color: #fff;
			padding: $padding;
			border-radius: $border-radius;
			background-color: $secondary_colorA;
			transition: .3s linear;

			display: inline-block;
			margin-top: $margin-top;

			&:hover{
				background-color:$dark_pink;
			}

			&:active{
				padding: $padding-active;
			}
		}


@mixin h2($margin-top){
		color: $black;
		font-size: 32px;
		font-weight: 600;
		display: inline-block;
		margin-top:$margin-top;

		&::after{
				content: " ";
				display: block;
				width: 75px;
				padding-top: 15px;
				border-bottom: 2px solid $secondary_colorA;
			}
	}


body {
	margin: 0;

	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	color: $black;
	-webkit-font-smoothing: antialiased;
	background-color: #fff;
}

.container{
	width: 100%;
	max-width: 1288px;
	padding: 0 84px;
	// position:relative;
}


*,
*:before ,
*:after {
	box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p{
	margin: 0;
}

header.header{
	background-color: $main_color;
	border-bottom: 2px solid $secondary_colorA;
	position: relative;

	.nav__toggle{
		position: fixed;
		z-index: 1000;

		display: none;
		justify-content: center;
		align-items: center;
		top: 30px;
		left: 30px;
		background: none;
		cursor: pointer;

		background-color: $main_color;
		border: 1px solid $secondary_colorA;
		width: 70px;
		height: 70px;
		border-radius: 50%;

		-webkit-tap-highlight-color: rgba(0,0,0,0);


		.nav__toggle__inner{
			position: absolute;
			// top: 35px;
			// left: 40px;
			border: none;

			content: "";
			background-color: #fff;
			width: 45px;
			height: 4px;

			&:before, &:after{
			position: absolute;
			content: "";
			background-color: #fff;
			width: 45px;
			height: 4px;
			transition: transform .3s linear;
			}

			&:before{
				top: 16px;
				left: 0;
			}

			&:after{
				left: 0;
				top: -16px;
			}
		}
	}

	.nav__toggle.visible{
		display: flex;
	}

	.nav__toggle.active{
		.nav__toggle__inner{
			background: none;
			&:before{
				transform: rotate(45deg);
				top: 0;
			}

			&:after{
				transform: rotate(-45deg);
				top: 0;
			}
		}
	}

	div{
		
		nav{
			display: flex;
			justify-content: space-between;
			a{
				-webkit-tap-highlight-color: rgba(0,0,0,0);
				
				text-decoration: none;
				padding: 20px 25px;
				color: #fff;
				font-size: 26px;
				white-space: nowrap;
				transition: .3s ease-in;

				&:hover{
					color: #d6d0d0;
					text-shadow: 0 0 5px #fff;
				}

				&:active{
					color: #d6d0d0;
					text-shadow: 0 0 5px #fff;
				}
			}
		}

		nav.active{
			opacity: 0;
			transform: translateY(-200px);
			transition: .2s ease-in;

			z-index: 1000;
			position: fixed;
			display: flex;
			flex-direction: column;

			border: 2px solid $secondary_colorA;
			background-color: $main_color;

			width: auto;

			top: 110px;
			left: 0;
		}

		nav.active.show{
			opacity: 1;
			transform: translateY(0);
		}
	}
}

header.header.fixed{
	position: fixed;
	z-index: 1000;
	width: 100%;

	div{
		nav{
			a{
				padding: 10px 25px;
			}
		}
	}
}

header.header__2{
	opacity: 0;
	transform: translateX(-100px);
	transition:0.2s ease-in;



	// background: url(img/1.jpg) center no-repeat;
	color: #fff;
	font-size: 36px;
	font-weight:500;
	// height: 75vh;

	overflow: hidden;
	display: flex;
	justify-content: center;

	position: relative;

	// nav{
	// 	float: right;

	// 	a{
	// 		text-decoration: none;
	// 		font-weight: bold;
	// 		color: $secondary_colorB;
	// 	}
	// }
	
		img{
			// width: 1em;
		}

		.initials{
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(0, -50%);
		text-align: center;

		h1{
			font-size: 48px;
			border-bottom: 2px solid $secondary_colorA;
			border-top: 2px solid $secondary_colorA;
			display: inline;
			padding:10px 0;
			line-height: 1.75;

			white-space: nowrap;


		}

		p{
			font-size: 18px;
			line-height: 1.75;
		}

		a{
			@include button(40px, 16px 44px, 22px, 5px, 14px 44px);
		}
		}
	
}

header.header__2.show{
	opacity: 1;
	transform: translateX(0);
}

.about{
	opacity: 0;
	transform: translateX(100px);
	transition:0.2s ease-in;


	position:relative;
	background: $white;
	h2{
		@include h2(180px);
	}

	p{
		font-weight: 500;
		font-size: 16px;
		color: $secondary_colorB;
		opacity: .8;
		max-width: 40%;
		margin-top: 40px;
	}

	.info{
		margin-top: 20px;
		p{
			background: #fff;
			padding:15px 0;
			margin-top:2px;

			opacity: 1;
			font-weight: 600;

			font{
				font-weight: 500;
			}

			a{ 
				-webkit-tap-highlight-color: rgba(0,0,0,0);

				text-decoration: underline 1px solid $secondary_colorB;
				color: $secondary_colorB;
				font-weight: 500;
				transition: .2s ease-in;

				&:hover, &:active{
					color: $secondary_colorA;
					text-decoration: underline 1px solid $secondary_colorA;
				}
			 }
		}
	}

	img{
		position: absolute;
		bottom:0;
		left: 50%;
	}
}

.about.show{
	opacity: 1;
	transform: translateX(0);
}


.portfolio_intro{
	h2{
		@include h2(80px);
	}

	p{
		font-weight: 500;
		font-size: 16px;
		color: $secondary_colorB;
		opacity: .8;
		margin-top: 40px;
	}

	.portfolio{
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
		.portfolio_item{
			-webkit-tap-highlight-color: rgba(0,0,0,0);

			margin: 60px 10px 0 10px;
			display: inline-block;
			position:relative;
			
	
			&:after{
				content: "";
				position:absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 99%;
				background-color: $secondary_colorB;
				z-index: 1;
				opacity: 0;
				transition: opacity .3s linear;
			}
	
			&:hover:after{
				opacity: .7;
			}
	
			&:hover .portfolio_content{
				opacity: 1;
			}
	
			img{
				width: 300px;
				height: 300px;
			}
	
			.portfolio_content{
				position:absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				display: flex;
				flex-direction: column;
				text-align: center;
				z-index: 2;
				opacity: 0;
				transition: opacity .3s linear;
				h4{
					color: $white;
					font-weight: 500;
					font-size: 18px;
				}
	
				p{
					font-weight:500;
					font-size: 16px;
					color: $white;
				}
			}
		}

		#portfolio__item__1{
			opacity: 0;
			transform: translateX(-100px);
			transition:0.2s ease-in;
		}
		
		#portfolio__item__2{
			opacity: 0;
			transform: translateX(100px);
			transition:0.2s ease-in;
		}
		
		#portfolio__item__1.show {
			opacity: 1;
			transform: translateX(0);
		}

		#portfolio__item__2.show {
			opacity: 1;
			transform: translateX(0);
		}

	}
}

#portfolio{
	opacity: 0;
	transform: translateX(-100px);
	transition:0.2s ease-in;
}

#portfolio.show{
	opacity: 1;
	transform: translateX(0);
}



.contacts{
	width: 55%;
	margin: 80px 0;
	position:relative;
	display: inline-block;
	vertical-align: top;

	&::after{
		content: "";
		border-right: 1px solid $gray;
		height: 250px;
		position: absolute;
		top:50%;
		transform: translateY(-50%);
		right: 0;
	}

	h3{
		font-weight: 500;
		font-size: 22px;
		display: inline-block;
	}

	form{
		text-align: right;
		width: 75.7%;
		

		input{
			-webkit-tap-highlight-color: rgba(0,0,0,0);

			border: 1px solid $main_color;
			padding: 10px;
			font-weight: 500;
			font-size: 14px;
			width: 100%;
			margin-top: 20px;
			display: flex;
			flex-flow: column wrap;

			&:focus{
				outline: 0;
			}
		}

		textarea{
			-webkit-tap-highlight-color: rgba(0,0,0,0);


			text-decoration: none;
			height: 90px;
			vertical-align: top;
			grid-column-start: 1;
			resize: none;
			border: 1px solid $main_color;
			padding: 10px;
			font-weight: 500;
			font-size: 14px;
			width: 100%;
			margin-top: 20px;
			display: flex;
			flex-flow: column wrap;

			&:focus{
				outline: 0;
			}
		}

		.button{
			@include button(20px, 10px 18px, 16px, 0, 8px 18px);
			width: auto;
			border:0;
			text-decoration: none;
		}
	}
}

.aligner{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 60px 0 40px 0;

	h3{
		font-weight: 500;
		font-size: 22px;
		// display: inline-block;	
	}

	.messangers{
		

		display: flex;
		// flex-direction: column;
		justify-content: space-between;
		.email, .whatsapp{
			display: flex;
			margin: 25px 0;
			img{

				width: 30px;
				margin:10px 30px;
			}

			.text{

				p{
				font-weight: 500;
				font-size: 18px;
				color: $secondary_colorB;
				margin: 5px;
				}

				a{
				-webkit-tap-highlight-color: rgba(0,0,0,0);

				margin: 5px;
				font-weight: 500;
				font-size: 14px;
				color: $secondary_colorB;
				opacity: .8;
				transition: .3s linear;

					&:hover, &:active{
						color: $secondary_colorA;
					}
				}
			}
		}

		.whatsapp{
			img{
				width: 28px;
			}
		}
	}
}

#contacts{
	// opacity: 0;
	// transform: translateX(100px);
	// transition:0.2s ease-in;
}

#contacts.show{
	opacity: 1;
	transform: translateX(0);
}

@media (max-width: 768px){
	.container{
		padding: 0 20px;
	}


	header.header{
		div{
			nav{
				flex-wrap: wrap;
				a{
					width: 40%;
				}
			}
		}
	}

	header.header__2{	
			.initials{
			left: 35%;
			top: 50%;
			transform: translate(0, -50%);
			}
		
	}
}

@media(max-width: 560px){
	.about{	

		h2{
			margin-top: 60px;
		}

		p{
			max-width: 100%;
		}
		img{
			position: static;
			width: 100%;
		}
	}
}

@media (max-width: 480px){
	header.header{
		.nav__toggle{
			display: flex;
		}
		div{
			
			nav{
				display: none;
				a{

				}
			}
		}
	}

	header.header__2{	
		.initials{
		left: 50%;
		top: 50%;
		transform: translate(-50%, 0);
		}
	
	}

	.aligner{
		.messangers{
			flex-direction: column;
		}
	}
}